@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

$color-light: #faf8f9;
$color-dark: #0a0a0a;
$color-main: #210b0b;
$color-secondary: #154e32;
$color-secondary-light: #568859;
$color-main-light: #dd7e9f;
$color-main-lighter: #ffcfe1;
$color-main-lighter-opacity: #ffcfe169;


$font-text: 'Poppins', sans-serif;

$radius: 20px;
$base-size: 12px;
$transition: all 0.3s;
$box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
